* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Raleway", sans-serif;
}

body {
    display: grid;
    grid-template-areas: 
        'aside main'
    ;
    grid-template-columns: minmax(300px, 0.2fr) minmax(0, auto);
}

aside {
    grid-area: aside;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px 0px 0px 20px;
    /* border: 2px solid red; */
}

aside h5 {
    padding-top: 35px;
    padding-bottom: 10px;
}

aside p{
    color: gray;
    font-weight: 500;
}

.logo {
    width: 120px;
    border-radius: 5px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    padding: 8px;
    display: none;
}

.hamburger .line {
    width: 25px;
    height:5px;
    background-color: black;
}

.menu-list {
    padding: 0;
}

.menu-list li:nth-child(1) {
    color: #009688;
}

.menu-list li:nth-child(1):hover {
    color: black;
}

.menu-list li {
    padding-top: 10px;
}

.menu-list i {
    padding-right: 30px;
}

.icons{
    display: flex;
    padding-top: 10px;
}

.icons i{
    font-size: 1.1em;
}

.heading {
    padding-right: 20px;
    padding-left: 20px;
}

main {
    grid-area: main;
    background-color: #F1F1F1;
    padding: 15px 0px 0px 0px;
}

.filter {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.filter .btn {
    border-radius: 0;
}

.filter .btn:hover {
    background-color: #cccccc !important;
    color: black !important;
}


.filter i {
    padding-right: 25px;
}

.filter .btn:nth-child(3) {
    padding: 10px 15px;
}

.filter .btn:nth-child(3):hover {
    background-color: #cccccc !important;
}

.filter .btn:nth-child(4) {
    padding: 10px 15px;
}

.filter .btn:nth-child(4):hover {
    background-color: #cccccc !important;
}

.filter .btn:nth-child(5) {
    padding: 10px 15px;
}

.filter .btn:nth-child(5):hover {
    background-color: #cccccc !important;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.google {
    font-size: 1.2em;
}

.fa-bars {
    display: none;
}

@media(max-width:993px) {
    body{
        grid-template-areas: 
        'aside'
        'main'
    ;  
    grid-template-columns: 1fr; 
    }

    aside {
        background-color: #F1F1F1;
        /* border: 2px solid red; */
        height: 10vh;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 40px 10px 40px 10px;
        position: relative;
        /* padding: 30px; */
    }

    aside h5,
        .alone,
        .menu-list, 
        .icons {
        display: none;
    }

    .logo {
        width: 50px;
        border-radius: 50%;
    }

    .hamburger {
        display: flex;
    }

    .fa-bars {
        display: block;
        font-size: 2em;
        font-weight: bolder;
    }
}

@media(max-width:600px) {
    .filter .btn:nth-child(4) {
        display: none;
    }

    .filter .btn:nth-child(5) {
        display: none;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.parent {
    min-width: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.parent img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.detail {
    background-color: white;
    padding: 10px 15px 10px 15px;
    word-wrap: break-word;
}

.detail h5 {
    font-size: 1em;
    font-weight: bold;
}

.detail p {
    font-size: 1em;
    line-height: 1.5em;
    font-family: 300;
}

@media(max-width:600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.numbering {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.5em; */
    padding: 50px 0px 50px 0px;
}

.numbering div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-size: 0.9em;
}

.numbering div:nth-child(1), .numbering div:nth-child(6) {
    padding: 9.5px 15px;
}

.numbering span {
    font-size: 0.9em;
}

.numbering div:nth-child(2) {
    background-color: black;
    color: white;
}

.numbering div:hover {
    background-color: black;
    color: white;
}

.twins {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.elder {
    min-width: 0;
}

.elder img {
    width: 100%;
    display: block;
    object-fit: cover;
}

@media(max-width:600px) {
    .twins {
        grid-template-columns: 1fr;
    }
}

.about {
    padding-left: 20px;
    padding-right: 20px;
}

.about p {
    font-size: 1em;
    line-height: 22.5px;
    font-weight: 300;
}

.skills {
    padding-top: 30px;
}

.skillbar {
    background-color: #9E9E9E;
    height: 40px;
    position: relative;
}

.bar {
    background-color: #616161;
    height: 40px;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.skillbar2 {
    background-color: #9E9E9E;
    height: 40px;
    position: relative;
}

.bar2 {
    background-color: #616161;
    height: 40px;
    position: absolute;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.skillbar3 {
    background-color: #9E9E9E;
    height: 40px;
    position: relative;
}

.bar3 {
    background-color: #616161;
    height: 40px;
    position: absolute;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.skills h4 {
    font-size: 1.1em;
}

.short {
    font-size: 0.9em;
    padding-top: 15px;
    font-weight: 100;
}

.short:nth-child(4){
    padding-bottom: 40px;
}

.download {
    margin-top: 30px;
    background-color: #616161;
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    font-size: 1em;
    font-weight: 100;
}

.pricing {
    margin-top: 90px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.pricing h4 {
    font-size: 1.5em;
    color: #606060;
}

.pricing .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.charge div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

.charge .btn {
    background-color: #60bab2;
    color: white;
    border-radius: 0;
    padding: 10px 15px;
}

.charge div:nth-child(1) {
    padding: 30px 0px 30px 0px;
}

.charge div:nth-child(6) {
    padding: 10px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charge div:nth-child(6) h1 {
    font-size: 1.7em;
}

.charge div:nth-child(7) {
    padding: 30px 0px 30px 0px;
}

.basic div {
    background-color:#f9f9f9;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.basic div:nth-child(1) {
    background-color: #606060;
    color: white;
    font-size: 1.4em;
    font-weight: 300;
}

.basic div:nth-child(7) {
    background-color: #F1F1F1;
    border-bottom: none !important;
}

.pro div {
    background-color:#f9f9f9;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.pro div:nth-child(1) {
    background-color: #60bab2;
    color: white;
    font-size: 1.4em;
    font-weight: 300;
}

.pro div:nth-child(7) {
    background-color: #F1F1F1;
    border-bottom: none !important;
}

.premium div {
    background-color:#f9f9f9;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.premium div:nth-child(1) {
    background-color: #606060;
    color: white;
    font-size: 1.4em;
    font-weight: 300;
}

.premium div:nth-child(7) {
    background-color: #F1F1F1;
    border-bottom: none !important;
}

@media(max-width:600px) {
    .pricing .wrapper {
        grid-template-columns: 1fr;
    }
}

.contact {
    padding: 20px 20px 30px 20px;
    background-color: #9E9E9E;
}

.contact h4 {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding-bottom: 30px;
}

.contact .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact .wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 20px 0px 20px 0px;
}

.contact .wrapper div:nth-child(1), 
.contact .wrapper div:nth-child(3) {
    background-color: #616161;
    color: white;
}

.contact .wrapper div:nth-child(2) {
    background-color: #009688;
    color: white;
}

.contact .wrapper div i {
    font-size: 2em;
}

form {
    /* border: 2px solid red; */
    border-top: thin solid white;
    margin-top: 40px;
    padding-top: 10px;
}

form label {
    padding-top: 15px;
}

form input {
    width: 100%;
    padding: 10px 0px;
}

form .btn {
    background-color: black;
    color: white;
    border-radius: 0;
    margin-top: 10px;
    padding: 10px 30px;
}

form .btn i {
    padding-right: 30px;
}

@media(max-width:600px) {
    .contact .wrapper {
        grid-template-columns: 1fr;
    }
}

footer {
    background-color: #616161;
    color: white;
    padding: 50px 20px 40px 20px;
} 

footer .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 0.8fr);
    gap: 0.5em;
}

footer h3 {
    font-size: 1.3em;
    padding-bottom: 20px;
}

.explain {
    min-width: 0;
}

.explain p {
    font-weight: 300;
}

.whale {
    display: flex;
    gap: 1em;
    align-items: center;
}

.whale:nth-child(2) {
    border-bottom: thin solid white;
    padding: 10px 0px 10px 10px;
}

.whale:nth-child(3) {
    padding: 10px 0px 0px 10px;
    padding-left: 10px;
    padding-top: 10px;
} 

.whale:hover {
    background-color: #CCCCCC;
}

.populartags {
    min-width: 0;
}

.populartags .wrapping {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, auto));
    row-gap: 1em;
    column-gap: 0.2em;
}

.populartags .wrapping div {
    /* background-color: #9E9E9E; */
    background-color: #8d9092;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
    overflow: hidden;
}

.populartags .wrapping div:nth-child(1) {
    background-color: black;
}

@media(max-width:600px) {
    footer .wrapper {
        grid-template-columns: 1fr;
        gap: 2em;
    }
}

.end {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    font-weight: 300;
}